# e9patch is fetched/built by exercise2-syscall-mtd/setup.sh
exercise2-syscall-mtd/e9patch/

# Build artifacts
exercise2-syscall-mtd/victim
exercise2-syscall-mtd/syscall_mtd
exercise2-syscall-mtd/*.o
exercise2-syscall-mtd/*.mtd
exercise2-syscall-mtd/a.out

# Python / misc
__pycache__/
*.pyc
*.log
